@page "/cart"
@using TechStore.UI.Interfaces

<PageTitle>Cart</PageTitle>

<center><h2>Cart</h2></center>
<center>
    <h1>Confirm order</h1>
    <h3>Products in cart</h3>
</center>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3">
                    <div class="text-left">
                        <img src="/image/laptop.png" alt="" width="200" height="200">
                        <br>
                        <br>
                        <button type="button" id="removebtn" class="btn btn-danger">Remove from cart</button>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <label>Make</label>
                    <br>
                    <label>Model</label>
                    <br>
                    <label>Price</label>
                </div>
            </div>
        </div>
        <br>

<div class="container">

  <form action="">

    <center><h3>Confirm address</h3></center>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">City</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Address (Street, №, floor, apartment)</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Post Code</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Phone</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">E-mail</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" min="1"> 
    <br>
    <br>
    <input type="submit" value="Confirm address">
  </form>
</div>


@code {
    
}
